.header {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(116, 116, 116, 0.05);
	position: relative;
	z-index: 1;
	&__wrap {
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 20px 0;
	}
	&__logo {
		width: 150px;
		margin-top: 2px;
	}
	&__link {
		display: block;
		padding: 13px 25px;
		box-sizing: border-box;
		background: #FD3963;
		border-radius: 100px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 0.25s ease;
	}
	&__link:hover {
		background: #6031A3;
		transition: all 0.25s ease;
	}
}