.hedge {
	box-sizing: border-box;
	padding: 94px 207px;
	background: #FBF9FF;
	&__subtitle {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		color: #FD3963;
		padding-left: 17px;
		position: relative;
	}
	&__subtitle:before {
		content: '';
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		left: 0;
		top: 11px;
		background: #FD3963;
	}
	&__title {
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		line-height: 64px;
		text-transform: uppercase;
		color: #242424;
		margin-top: 16px;
		max-width: 524px;
	}
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		color: #242424;
		margin-top: 16px;
		max-width: 802px;
	}
	&__link {
		margin-top: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		width: 292px;
		height: 54px;
		background: #6031A3;
		box-shadow: 0px 0px 10px rgba(96, 49, 163, 0.4);
		border-radius: 100px;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 0.25s ease;
	}
	&__link:hover {
		background: #FD3963;
		transition: all 0.25s ease;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		margin-top: 72px;
	}
	&__item {
		width: 49.13%;
	}
	&__item-name {
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		color: #FD3963;
		text-align: center;
		margin-bottom: 14px;
	}
	&__item-img.graphic-1 {
		width: 100%;
		height: 409px;
		background: url(../img/graphic-1.svg) no-repeat center;
	}
	&__item-img.graphic-2 {
		width: 100%;
		height: 409px;
		background: url(../img/graphic-2.svg) no-repeat center;
	}
}