.provide {
	position: relative;
	background: #FBF9FF;
	box-sizing: border-box;
	padding: 76px 0 139px;
	&__wrap {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 3;
	}
	&__left {
		margin-top: 25px;
	}
	&__subtitle {
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		color: #FD3963;
		padding-left: 17px;
		position: relative;
	}
	&__subtitle:before {
		content: '';
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		left: 0;
		top: 11px;
		background: #FD3963;
	}
	&__title {
		font-style: normal;
		font-weight: 800;
		font-size: 48px;
		line-height: 64px;
		text-transform: uppercase;
		color: #242424;
		margin-top: 16px;
	}
	&__list {
		display: flex;
		margin-top: 18px;
	}
	&__list ul:first-child {
		margin-right: 70px;
	}
	&__list ul li {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		display: flex;
		align-items: center;
		color: #000000;
		padding-left: 24px;
		box-sizing: border-box;
		position: relative;
	}
	&__list ul li:before {
		display: block;
		content: '';
		position: absolute;
		width: 12px;
		height: 23px;
		left: 0;
		background: url(../img/list-item.svg);
	}
	&__link {
		margin-top: 32px;
		width: max-content;
		display: block;
		padding: 13px 25px;
		box-sizing: border-box;
		border-radius: 100px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
		color: #FFFFFF;
		transition: all 0.25s ease;
		background: #6031A3;
	}
	&__link:hover {
		background: #FD3963;
		transition: all 0.25s ease;
	}
	&__item {
		width: 566px;
		height: 136px;
		background: #FFFFFF;
		box-shadow: 0px 4px 16px #F2ECFF;
		border-radius: 4px;
		margin-bottom: 24px;
		padding: 24px 32px 32px 32px;
		box-sizing: border-box;
	}
	&__item:last-child {
		margin-bottom: 0;
	}
	&__item-title {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 28px;
		color: #6031A3;
		padding-left: 17px;
		position: relative;
	}
	&__item-title:before {
		content: '';
		display: block;
		position: absolute;
		width: 5px;
		height: 5px;
		left: 0;
		top: 13px;
		background: #6031A3;
	}
	&__item-text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #242424;
		margin-top: 8px;
	}
	&__lines {
		position: absolute;
		top: -224px;
		right: 0;
		background: url(../img/provide-lines.svg) no-repeat center;
		background-size: 100% 100%;
		width: 746px;
		height: 582px;
	}
	&__lines-2 {
		position: absolute;
		bottom: 0;
		left: 0;
		background: url(../img/provide-lines-2.svg) no-repeat center;
		background-size: 100% 100%;
		width: 575px;
		height: 479px;
		z-index: 2;
	}
	&__lines-3 {
		position: absolute;
		top: -15px;
		right: 0;
		background: url(../img/provide-lines-3.svg) no-repeat center;
		background-size: 100% 100%;
		width: 575px;
		height: 479px;
		z-index: 2;
	}
	&__half-block-wrap {
	  position: relative;
	  height: 173px;
	  width: 100%;
	}
	&__half-block-1 {
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 173px;
	  width: 100%;
	  background: linear-gradient(to bottom right,#FBF9FF 50%,#ffffff00 50%);
	}
	&__half-block-2 {
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 173px;
	  width: 100%;
	  background: linear-gradient(to bottom right,#fbf9ff00 50%,#ffffff 50%);
	  z-index: 2;
	}
}